.promisies {
  
  margin-top: 120px;

  &__container {
    padding: 45px 0;
    background:
      linear-gradient(0deg, rgba(25, 28, 41, 0.84), rgba(25, 28, 41, 0.84)),
      url('../img/features-background.webp');
    background-repeat: repeat-y;
    background-position: left;
    background-size: 51.3%, 51.3%, 100%, 100%;
  }

  &__content {
    background-color: rgba(255, 255, 255, 0.9);
    max-width: 770px;
    width: 100%;
    margin-left: auto;
    padding: 75px 0 75px 70px;
    display: grid;
    grid-template: repeat(2, 1fr)/repeat(2, 1fr);
    gap: 70px 100px;
  }

  .promise {
    max-width: 300px;
    width: 100%;
    align-self: flex-start;
    margin-left: auto;

    &__title {
      font-size: 24px;
      line-height: 2;
      margin-bottom: 15px;
    }
  }
}

@media(max-width:768px) {
  .promisies {
    background:
      linear-gradient(0deg, rgba(25, 28, 41, 0.84), rgba(25, 28, 41, 0.84)),
      url('../img/features-background.webp');
    background-repeat:no-repeat;
    background-position: center;
    background-size: cover;

    &__container {
      background: none;
    }

    &__content {
      gap: 50px 20px;
    }

    .promise__btn {
      align-self: end;
    }
  }
}

@media(max-width:640px) {
  .promisies {
    &__content {
      grid-template: repeat(4, 1fr)/1fr;
      padding-left: 15px;
    }
    .promise{
      max-width:none;
    }
  }
}

@media(max-width:425px) {
  .promisies {
    margin-top: 60px;
  }
}